# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executables
*.exe

# Build directory
build/

# IDE specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters

build/
cmake/
